trigger:
- master

pool:
  name: default
  vmImage: ubuntu-latest

variables:
  - group: secret_values
  - name: imageName
    value: 'keycloak:dev'
  - name: PORT_SETTING
    value: '80'
  - name: PORT
    value: '8083'
  - name: BRANCH
    value: 'master'

resources:
  repositories:
  - repository: keycloak
    type: git
    name: e-Audit/keycloak
    ref: refs/heads/master # Branch to trigger on

stages:
- stage: Build_and_Deploy
  displayName: 'Build and Deploy Java Application'
  jobs:
  - job: BuildAndDeploy
    displayName: 'Build and Deploy'
    steps:
    - checkout: none
  
    # Clone keycloak repo
    - script: |
        rm -rf keycloak
        git config --global credential.helper '!f() { echo "username=Administrator"; echo "password=$(GIT_PASSWORD)"; }; f'
        git -c http.sslVerify=false clone -b $(BRANCH) https://Administrator@eaudit03.oagid.local/SAO/e-Audit/_git/keycloak
        rm -rf $(Build.SourcesDirectory)/keycloak/target
      displayName: 'Clone keycloak repository with authentication'
      env:
        GIT_PASSWORD: $(GIT_PASSWORD)

    # Use Maven to update dependencies, test, and then build the Java application
    - script: |
        mvn -f $(Build.SourcesDirectory)/keycloak/pom.xml versions:use-latest-releases
        mvn -f $(Build.SourcesDirectory)/keycloak/pom.xml versions:commit
        mvn -f $(Build.SourcesDirectory)/keycloak/pom.xml test
        mvn -f $(Build.SourcesDirectory)/keycloak/pom.xml clean install
      displayName: 'Update dependencies, Test, and Build Java application with Maven'

    # Remove existing Dockerfile and write a new one
    - script: |
        rm -f $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "FROM openjdk:17-jdk-alpine" > $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "WORKDIR /app" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "ARG APP_VERSION" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "COPY target/authorization-server-0.1.0-SNAPSHOT.jar app.jar" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "COPY target/classes/mytest.jks src/main/resources/mytest.jks" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "COPY src/main/resources/themes/ src/main/resources/themes/" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
        # echo "COPY target/classes/META-INF/keycloak-server.json /app/src/main/resources/META-INF/keycloak-server.json" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "ENV JAVA_OPTS='-Dserver.forward-headers-strategy=native'" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
        echo "CMD [\"sh\", \"-c\", \"java \$JAVA_OPTS -jar app.jar\"]" >> $(Build.SourcesDirectory)/keycloak/Dockerfile
      displayName: 'Create and Write New Dockerfile'

    # Build the Docker image
    - script: |
        docker build --build-arg APP_VERSION='0.1.0-SNAPSHOT' -t $(imageName) -f $(Build.SourcesDirectory)/keycloak/Dockerfile $(Build.SourcesDirectory)/keycloak
      displayName: 'Build Docker image'

    # Run the Docker container
    - script: |
        docker rm -f keycloak_container || true
        docker run -d -p $(PORT):$(PORT_SETTING) --restart=always --name keycloak_container $(imageName)
      displayName: 'Run Docker container'