server:
  port: 80

spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
keycloak:
  server:
    contextPath: /auth
    adminUser:
      username: superadmin
      password: office@betimes.Biz
    realmImportFile: baeldung-realm.json