.login-pf {
    background: none;
}

.login-pf body {
   background: none;
}

.login-pf-page {
    padding-top: 0px;
}

#kc-content {
    margin-top: 32px;
}

#kc-page-title {
    text-align: start; /* override */
    margin-top: 0.75rem;
    font-size: 28px;
    color: #8D2621;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.125;
    letter-spacing: -0.01em;
    user-select: none;
}

#description-title {
    display: flex;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    font-weight: 300;
    user-select: none;
}

#kc-form-buttons .pf-c-button {
    user-select: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    transition: all 0.15s ease-in-out;
    border: 1px solid transparent;
    background-color: #8D2621;
    color: #fff;
    font-weight: 500;
    text-transform: none;
    white-space: nowrap;
}

div.login-pf-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    min-width: 0px;
}

#kc-header {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
    flex: 1 1 auto;
}

#kc-header-wrapper {
    display: none;
}

.card-pf {
    width: 100%;
    padding-top: 2rem/* 32px */;
    padding-bottom: 2rem/* 32px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
}

.sub-card-pf {
    width: 100%;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;

    z-index: 20;
}

.card-pf {
    box-shadow: none;
}

@media (min-width: 640px) {
    .card-pf {
        width: auto;
        padding: 3rem/* 48px */;
        border-radius: 1rem/* 16px */;

        border: none;
        box-shadow: none;
        background-image: url('../img/bg-login.png');
        background-size: cover;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); /* Example shadow */
        margin: 0px;

        z-index: 20;
    }
    
    div.login-pf-page { 
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;

        background-image: url('../img/people.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) {
    .card-pf {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 4rem/* 64px */;
        width: 33.333333%;
        border-radius: 0px;
    }

    div.login-pf-page {
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #kc-header {
        display: flex;
    }
}

@media (min-width: 1024px) {
    #kc-header {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.bg-logo, .footer-logo {
    position: absolute;
    opacity: 0.4;
}

.bg-logo {
    top: -190px;
    right: -180px;
}

.footer-logo {
    left: -175px;
    top: -215px;
}

.gradient-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #92330A, #8D2621);
    top: 33.333%;
}

.content-area {
    position: relative;
    width: 100%;
    max-width: 96rem; /* Adjust based on actual max width */
    margin-top: -24px;
    text-align: left;
    z-index: 20;
}

.text-container, .logo-and-title, .project-name, .system-name, .footer-text {
    color: #FFFFFF;
}

.logo-and-title {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.logo-and-title .logo {
    width: 80px;
}

.title {
    padding: 8px;
}

.main-title {
    font-size: 1.875rem/* 30px */ !important;
    line-height: 2.25rem/* 36px */ !important;
    font-weight: 200;
    letter-spacing: widest;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 1.25rem/* 20px */ !important;
    line-height: 1.75rem/* 28px */ !important;
    font-weight: light;
    margin-top: -6px;
}

.project-name, .system-name {
    font-size: 2.25rem/* 36px */ !important;
    line-height: 2.5rem/* 40px */ !important;
    font-weight: semibold;
    margin-top: 32px;
}

.system-name {
    color: #F4B51A;
    font-weight: bold;
}

.footer {
    user-select: none;
    position: absolute;
    left: 0;
    bottom: 24px;
    margin-top: 32px;
    width: 100%;

    font-size: 1rem/* 16px */ !important;
    line-height: 1.5rem/* 24px */ !important;

    flex: 1 1 auto;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding-left: 64px;
    }
}

.footer-logo {
    position: absolute;
    left: -175px;
    top: -215px;
    opacity: 0.4;
}

.contact-info, .copyright {
    font-size: base;
    font-weight: extralight;
}
